/*@function getBackground($name)
 * @return #alarm
 * 			+background-image(url("../img/$name.svg"))
 * 			&:hover
 * 				asssa+background-image(url('../img/alarm.svg'), linear-gradient(rgb(0, 140, 255), rgb(0, 60, 240))) */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pacifico.ttf");
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Play.ttf");
}

/* line 31, ../sass/screen.sass */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 38, ../sass/screen.sass */
html {
  background: url(../img/bg.jpg) black;
  height: 100%;
}

/* line 42, ../sass/screen.sass */
body {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  font-family: "Play", sans-serif;
  color: #c8c8c8;
  width: 960px;
  margin: 0 auto 0 auto;
  height: 100%;
  text-align: center;
}

/* line 53, ../sass/screen.sass */
.hidden {
  display: none !important;
}

/* line 56, ../sass/screen.sass */
#home {
  font-weight: 100;
  font-size: 24px;
  line-height: 50px;
  font-family: "Play", sans-serif;
}
/* line 61, ../sass/screen.sass */
#home:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008cff), color-stop(100%, #0028e6));
  background-image: -webkit-linear-gradient(#008cff, #0028e6);
  background-image: -moz-linear-gradient(#008cff, #0028e6);
  background-image: -o-linear-gradient(#008cff, #0028e6);
  background-image: linear-gradient(#008cff, #0028e6);
  color: white;
  text-shadow: 0px 0px 2px black;
  border-radius: 0 0 0 10px;
}

/* line 67, ../sass/screen.sass */
h2 {
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 180px;
  font-family: "Play", sans-serif;
  color: gainsboro;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px;
  margin-bottom: 40px;
}

/* line 78, ../sass/screen.sass */
h3 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 50px;
  font-family: "Play", sans-serif;
  color: gainsboro;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
  margin: 0 20px;
}

/* line 90, ../sass/screen.sass */
h4 {
  display: inline-block;
  text-align: center;
  font: 500 20px/50px "Play", sans-serif;
  color: #c8c8c8;
  text-shadow: 1px 1px 4px black;
  text-decoration: none;
  margin: 50px 0 0 0;
}

/* line 99, ../sass/screen.sass */
em {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 50px;
  font-family: "Pacifico", serif;
  font-style: italic;
  color: gainsboro;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

/* line 113, ../sass/screen.sass */
#stopwatchcontrols button,
#timercontrols button,
#timers button,
#startCountdown,
#countdowns button {
  font-family: "Play", sans-serif;
  display: inline-block;
  text-align: center;
  position: relative;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(100%, #141414));
  background-image: -webkit-linear-gradient(#282828, #141414);
  background-image: -moz-linear-gradient(#282828, #141414);
  background-image: -o-linear-gradient(#282828, #141414);
  background-image: linear-gradient(#282828, #141414);
  border: 2px solid #0a0a0a;
  text-shadow: 0 -2px black;
  color: #c8c8c8;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
/* line 128, ../sass/screen.sass */
#stopwatchcontrols button:hover,
#timercontrols button:hover,
#timers button:hover,
#startCountdown:hover,
#countdowns button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #141414), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#141414, #000000);
  background-image: -moz-linear-gradient(#141414, #000000);
  background-image: -o-linear-gradient(#141414, #000000);
  background-image: linear-gradient(#141414, #000000);
}
/* line 130, ../sass/screen.sass */
#stopwatchcontrols button:active,
#timercontrols button:active,
#timers button:active,
#startCountdown:active,
#countdowns button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a0a0a), color-stop(100%, #141414));
  background-image: -webkit-linear-gradient(#0a0a0a, #141414);
  background-image: -moz-linear-gradient(#0a0a0a, #141414);
  background-image: -o-linear-gradient(#0a0a0a, #141414);
  background-image: linear-gradient(#0a0a0a, #141414);
}

/* line 135, ../sass/screen.sass */
input[type="time"], input[type="text"], input[type="date"] {
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 50px;
  font-weight: 500;
  font-family: "Play", sans-serif;
  line-height: 70px;
  padding: 0 30px;
  text-shadow: 2px 2px 1px #1e1e1e;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2), 0px -2px 1px rgba(0, 0, 0, 0.2);
}

/* line 150, ../sass/screen.sass */
#alarmDays,
select {
  display: inline-block;
  vertical-align: middle;
  font: 500 60px/60px "Play", sans-serif;
  color: white;
  background: #3c3c3c;
  width: 240px;
  border-radius: 10px;
  margin: 0 20px 0 0px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 0 10px 0 10px;
}

/* line 166, ../sass/screen.sass */
body > nav {
  color: #d2d2d2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #323232), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#323232, #000000);
  background-image: -moz-linear-gradient(#323232, #000000);
  background-image: -o-linear-gradient(#323232, #000000);
  background-image: linear-gradient(#323232, #000000);
  margin: 0 0 80px 0;
  position: relative;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  text-align: left;
}

/* line 175, ../sass/screen.sass */
#links {
  display: inline-block;
}

/* line 178, ../sass/screen.sass */
#links a,
#home {
  height: 50px;
  line-height: 50px;
  min-width: 60px;
  display: inline-block;
  text-decoration: none;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  background-position: center;
  vertical-align: top;
  padding: 0 20px;
  cursor: pointer;
}
/* line 190, ../sass/screen.sass */
#links a:active, #links a:focus,
#home:active,
#home:focus {
  box-shadow: inset 2px 0px 20px black;
}

/* line 194, ../sass/screen.sass */
#links a {
  background-repeat: no-repeat;
  background-size: 60%;
}
/* line 197, ../sass/screen.sass */
#links a:hover {
  background-size: 60%, 100%;
}

/* line 200, ../sass/screen.sass */
#adrian {
  display: inline-block;
  font: 100 12px/50px "", serif;
  color: #787878;
  text-decoration: none;
  float: right;
  padding: 0 10px 0 0;
}
/* line 207, ../sass/screen.sass */
#adrian:hover {
  color: #c8c8c8;
}

/* line 213, ../sass/screen.sass */
#clock {
  background-image: url("../img/clock.svg");
}
/* line 215, ../sass/screen.sass */
#clock:hover, #clock:active {
  background-image: url("../img/clock.svg"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008cff), color-stop(100%, #003cf0));
  background-image: url("../img/clock.svg"), -webkit-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/clock.svg"), -moz-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/clock.svg"), -o-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/clock.svg"), linear-gradient(#008cff, #003cf0);
}

/* line 218, ../sass/screen.sass */
#alarm {
  background-image: url("../img/alarm.svg");
}
/* line 220, ../sass/screen.sass */
#alarm:hover {
  background-image: url("../img/alarm.svg"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008cff), color-stop(100%, #003cf0));
  background-image: url("../img/alarm.svg"), -webkit-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/alarm.svg"), -moz-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/alarm.svg"), -o-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/alarm.svg"), linear-gradient(#008cff, #003cf0);
}

/* line 222, ../sass/screen.sass */
#timer {
  background-image: url("../img/timer.svg");
}
/* line 224, ../sass/screen.sass */
#timer:hover {
  background-image: url("../img/timer.svg"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008cff), color-stop(100%, #003cf0));
  background-image: url("../img/timer.svg"), -webkit-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/timer.svg"), -moz-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/timer.svg"), -o-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/timer.svg"), linear-gradient(#008cff, #003cf0);
}

/* line 226, ../sass/screen.sass */
#stopwatch {
  background-image: url("../img/stopwatch.svg");
}
/* line 228, ../sass/screen.sass */
#stopwatch:hover {
  background-image: url("../img/stopwatch.svg"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008cff), color-stop(100%, #003cf0));
  background-image: url("../img/stopwatch.svg"), -webkit-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/stopwatch.svg"), -moz-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/stopwatch.svg"), -o-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/stopwatch.svg"), linear-gradient(#008cff, #003cf0);
}

/* line 230, ../sass/screen.sass */
#countdown {
  background-image: url("../img/countdown.svg");
}
/* line 232, ../sass/screen.sass */
#countdown:hover {
  background-image: url("../img/countdown.svg"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008cff), color-stop(100%, #003cf0));
  background-image: url("../img/countdown.svg"), -webkit-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/countdown.svg"), -moz-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/countdown.svg"), -o-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/countdown.svg"), linear-gradient(#008cff, #003cf0);
}

/* line 234, ../sass/screen.sass */
#worldclock {
  background-image: url("../img/worldclock.svg");
}
/* line 236, ../sass/screen.sass */
#worldclock:hover {
  background-image: url("../img/worldclock.svg"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008cff), color-stop(100%, #003cf0));
  background-image: url("../img/worldclock.svg"), -webkit-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/worldclock.svg"), -moz-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/worldclock.svg"), -o-linear-gradient(#008cff, #003cf0);
  background-image: url("../img/worldclock.svg"), linear-gradient(#008cff, #003cf0);
}

/* line 241, ../sass/screen.sass */
#homewrapper img {
  width: 800px;
  height: 234px;
  margin-bottom: 20px;
}
/* line 245, ../sass/screen.sass */
#homewrapper em {
  margin: 0 0 30px 0;
}

/* line 248, ../sass/screen.sass */
#footer {
  width: 960px;
  padding: 30px 0 30px 0;
  vertical-align: top;
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}
/* line 255, ../sass/screen.sass */
#footer div#social > {
  vertical-align: top;
}

/* line 260, ../sass/screen.sass */
#alarmwrapper form {
  display: inline-block;
  vertical-align: top;
}
/* line 263, ../sass/screen.sass */
#alarmwrapper form input[type="time"] {
  width: 200px;
}
/* line 265, ../sass/screen.sass */
#alarmwrapper select {
  font-size: 30px;
  margin-right: 20px;
}

/* line 269, ../sass/screen.sass */
#alarmDays {
  font-size: 20px;
  line-height: 20px;
  padding: 20px;
  width: inherit;
  text-align: left;
}

/* line 277, ../sass/screen.sass */
#stopwatchwrapper {
  padding: 0 0 50px 0;
}
/* line 279, ../sass/screen.sass */
#stopwatchwrapper h2 {
  font-size: 120px;
  margin: 50px 0;
}
/* line 282, ../sass/screen.sass */
#stopwatchwrapper table {
  display: inline-block;
  border-spacing: 4px;
  text-shadow: 0 -1px black;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2), 0px -2px 1px rgba(0, 0, 0, 0.2);
  margin: 20px 0 0 0;
  border: 10px;
}
/* line 291, ../sass/screen.sass */
#stopwatchwrapper thead {
  margin-bottom: 10px;
}
/* line 293, ../sass/screen.sass */
#stopwatchwrapper thead th {
  box-shadow: 0px -1px 2px rgba(255, 255, 255, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  padding: 15px;
}
/* line 297, ../sass/screen.sass */
#stopwatchwrapper tbody {
  color: #aaaaaa;
}
/* line 299, ../sass/screen.sass */
#stopwatchwrapper tbody tr:nth-of-type(2n + 1) {
  background: rgba(0, 0, 0, 0.1);
}
/* line 301, ../sass/screen.sass */
#stopwatchwrapper tbody tr:nth-of-type(2n + 1) td {
  box-shadow: 0px -1px 2px rgba(255, 255, 255, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 303, ../sass/screen.sass */
#stopwatchwrapper td {
  padding: 8px 50px;
}

/* line 306, ../sass/screen.sass */
#stopwatchcontrols {
  margin-bottom: 40px;
}

/* line 309, ../sass/screen.sass */
#stopwatchcontrols button,
#startCountdown {
  width: 200px;
  height: 60px;
  line-height: 56px;
  font-weight: 100;
  font-size: 32px;
}
/* line 316, ../sass/screen.sass */
#stopwatchcontrols button:last-of-type, #stopwatchcontrols button:nth-last-of-type(2),
#startCountdown:last-of-type,
#startCountdown:nth-last-of-type(2) {
  margin-left: 40px;
}
/* line 319, ../sass/screen.sass */
#stopwatchcontrols button:before,
#startCountdown:before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: 230px;
  height: 80px;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2), 0px -2px 1px rgba(0, 0, 0, 0.2);
  margin: -12px -17px;
}

/* line 332, ../sass/screen.sass */
#timerwrapper {
  padding-top: 20px;
}

/* line 335, ../sass/screen.sass */
#timercontrols {
  text-align: left;
  display: inline-block;
  margin-bottom: 50px;
}
/* line 339, ../sass/screen.sass */
#timercontrols input[type="text"] {
  line-height: 74px;
  font-size: 60px;
  padding: 0 20px 0 20px;
  width: 340px;
  margin-right: 60px;
}
/* line 345, ../sass/screen.sass */
#timercontrols button {
  width: 180px;
  height: 50px;
  line-height: 46px;
  font-weight: 100;
  font-size: 24px;
  padding: 0 30px;
  position: relative;
  top: 2px;
  margin: 10px;
}
/* line 355, ../sass/screen.sass */
#timercontrols button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #141414));
  background-image: -webkit-linear-gradient(#000000, #141414);
  background-image: -moz-linear-gradient(#000000, #141414);
  background-image: -o-linear-gradient(#000000, #141414);
  background-image: linear-gradient(#000000, #141414);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}
/* line 358, ../sass/screen.sass */
#timercontrols button:before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  top: -12px;
  left: -12px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: 200px;
  height: 70px;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2), 0px -2px 1px rgba(0, 0, 0, 0.2);
}

/* line 371, ../sass/screen.sass */
#timers {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2), 0px -2px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 600px;
}
/* line 377, ../sass/screen.sass */
#timers:not(:empty) {
  padding: 20px 20px 0;
}
/* line 379, ../sass/screen.sass */
#timers > div {
  text-align: left;
  display: inline-block;
  position: relative;
  width: 560px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.05);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  box-shadow: 0px -1px 2px rgba(255, 255, 255, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -2px 0px black;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 40px;
}
/* line 393, ../sass/screen.sass */
#timers > div span {
  vertical-align: middle;
  font-size: 36px;
  line-height: 80px;
}
/* line 397, ../sass/screen.sass */
#timers > div div {
  position: absolute;
  right: 20px;
  top: 25px;
  display: inline-block;
}
/* line 402, ../sass/screen.sass */
#timers button {
  vertical-align: middle;
  z-index: 1;
  width: 80px;
  height: 28px;
  margin-right: 30px;
  border-width: 1px;
  border-radius: 5px;
  font-size: 16px;
}
/* line 411, ../sass/screen.sass */
#timers button:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 5px;
  width: 98px;
  height: 43px;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.2), 0px -1px 1px rgba(0, 0, 0, 0.2);
  margin: -12px -10px;
}
/* line 421, ../sass/screen.sass */
#timers button:last-of-type {
  width: 50px;
}
/* line 423, ../sass/screen.sass */
#timers button:last-of-type:before {
  width: 68px;
}

/* line 429, ../sass/screen.sass */
#countdownName {
  margin-bottom: 30px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2), 0px -2px 1px rgba(0, 0, 0, 0.2);
}

/* line 434, ../sass/screen.sass */
#countdownDate {
  margin-right: 30px;
  width: 370px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2), 0px -2px 1px rgba(0, 0, 0, 0.2);
}

/* line 439, ../sass/screen.sass */
#countdownTime {
  margin-bottom: 60px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2), 0px -2px 1px rgba(0, 0, 0, 0.2);
}

/* line 446, ../sass/screen.sass */
#countdowns h2 {
  font-size: 92px;
}
/* line 448, ../sass/screen.sass */
#countdowns span {
  font-size: 34px;
}

/*@media all and (max-width: 480px)
 * body
 * 	font-size: 14px
 * 	width: 100%
 *
 * body > nav
 * 	width: 100%
 *
 * #links a,
 * #home
 * 	height: 40px
 * 	line-height: 40px
 * 	min-width: 40px
 * 	padding: 0 16px
 * #home
 * 	background-size: 100%
 *
 * #clock,
 * #alarm,
 * #stopwatch,
 * #timer,
 * 	background-size: 50%, 100%
 *
 * #homewrapper
 * 	img
 * 		width: 100%
 * 		height: auto
 *
 * #stopwatchwrapper
 * 	h2
 * 		font-size: 50px
 * 	button
 * 		font-size: 24px
 *
 * h2
 * 	font-size: 70px
 * 	text-shadow: 5px 5px 20px rgb(0, 0, 0), 1px -2px 0px rgb(210, 210, 210), 2px -4px 0px rgb(210, 210, 210
 *
 * h3
 * 	font-size: 32px
 * em
 * 	font-size: 24px */
